<div id="first card"  class="card mat-card">
    <div id="profile-background">
    <img
    [src]="miPortfolio.backimage">
    </div>
    <div id="info" style="padding:16px">
      <div id="info-img">
        <img 
            class="profile-image"
            [src]="miPortfolio.profile"
            />
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a></div>
      </div>
      
      <div id="info-data">
        <div>
          <h1>{{miPortfolio.name}} </h1>
          <div id="info-contacto">
            <span>{{miPortfolio.location}} </span>
            <span><a href="#">Informacion de contacto</a></span>
          </div>
        </div>
      </div>

      <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir Sección</button>
        <button type="button" class="btn btn-light">Más</button>
      </div>
    </div>
  </div>