<div class="card mat-card">
    <div id="title-skills">
            <h2>Skills</h2>
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a></div>
   </div>
            <div class="container">
     <div class="row">
            <div class="col-md-6">
                
                <span>html</span>
            <div class="progress skill-bar ">
                <div class="progress-bar html" >
                    90%
                </div>
            </div>

            <span>css</span>
            <div class="progress skill-bar ">
                <div class="progress-bar css" >
                    80%
                </div>
            </div>

            <span>javascript</span>
            <div class="progress skill-bar ">
                <div class="progress-bar js" >
                    60%
                </div>
            </div>                       
        </div>
    </div>  
</div> 
 <br>
</div>